* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}

html {
    font-size: 62.5%;
}

.main_div {
    width: 100vw;
    height: 100vh;
    background-color: #222f3e;
    display: grid;
    align-items: center;
    justify-items: center;
}

.center_div {
    height: auto;
    width: 50%;
}

.center_div ul {
    display: flex;
    justify-content: center;
}
.center_div ul li {
    list-style: none;
    text-transform: uppercase;
    font-size: 7rem;
    color: #576574;
    animation: lightning 1.3s linear infinite;
}
li + li {
    padding-left: 2rem;
}

.center_div ul li:nth-child(1) {
    animation-delay: 0s;
}
.center_div ul li:nth-child(2) {
    animation-delay: 0.1s;
}
.center_div ul li:nth-child(3) {
    animation-delay: 0.2s;
}
.center_div ul li:nth-child(4) {
    animation-delay: 0.3s;
}
.center_div ul li:nth-child(5) {
    animation-delay: 0.4s;
}
.center_div ul li:nth-child(6) {
    animation-delay: 0.5s;
}
.center_div ul li:nth-child(7) {
    animation-delay: 0.6s;
}


@keyframes lightning {
    0% {
        color: #576574;
        text-shadow: none;
    }
    90% {
        color: #576574;
        text-shadow: none;
    }
    100% {
        color: #f1c40f;
        text-shadow: 0 0 1rem #d35400, 0 0 7rem #d35400;
    }
}
